{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block header %}
<h1>About</h1>
{% endblock %}

{% block content %}
<p>I am Data Scientist with experience executing data-driven solutions to increase efficiency, accuracy, and utility of organisations. </p>
<p>I have a Masters of Data Science from the University of Technology where I studied the applications of Deep Learning Methods for Natural Language Processing and Computer Vision</p>
<p>I have experience applying statistical modelling, machine learning, data analysis and visualization to solve complex problems. Proficient in R, Python, Databases and Statistics.
  I'm a Data Science enthusiast and regular attendee of meetups such as the Data Science Sydney Meetup.</p>
<hr>
{% endblock %}
